{% extends "admin_base.html" %}

{% block content %}
<main class="admin-main">
    <header class="admin-header">
        <h1>Customers List</h1>
        <div class="admin-actions">
            <input type="search" placeholder="Search...">
            <button class="notifications">🔔</button>
        </div>
    </header>

    <div class="customer-list">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>LastName</th>
                    <th>FirstName</th>
                    <th>Email</th>
                    <th>Actions</th>
                    <th>Loyal Client</th>
                </tr>
            </thead>
            <tbody>
                {% for client in clients %}
                <tr>
                    <td>{{ client.idClient }}</td>
                    <td>{{ client.lastName }}</td>
                    <td>{{ client.firstName }}</td>
                    <td>{{ client.email }}</td>
                    <td>
                        <form method="POST" action="{{ url_for('admin.delete_customer', client_id=client.idClient) }}" style="display:inline;">
                            <button type="submit" class="delete-button">X</button>
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="{{ url_for('admin.verify_loyal_client', client_id=client.idClient) }}" style="display:inline;">
                            <label class="switch">
                                <input type="checkbox" name="loyal_client" onchange="this.form.submit()" {% if client.idClient in loyal_clients %}checked{% endif %}>
                                <span class="slider round"></span>
                            </label>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}