<!-- app/templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC Store</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="../static/carousel.js" defer></script>
</head>
<body>
    <!-- Header -->
    {% include 'header.html' %}

    <!-- Sidebar & Main Content -->
    <div class="container">
        <!-- Sidebar -->
        {% include 'sidebar.html' %}

        <!-- Main Content -->
        <main class="main-content">
            <!-- New Product Section -->
            <section class="new-product" style="margin-top: -170px;"> <!-- Thêm thuộc tính style để di chuyển lên -->
                <div class="carousel">
                    <img src="../static/img/carousel-image1.jpg" alt="New Camera Product 1" class="active"> <!-- Thêm lớp active -->
                    <img src="../static/img/carousel-image2.jpg" alt="New Camera Product 2">
                    <img src="../static/img/carousel-image3.jpg" alt="New Camera Product 3">
                </div>
                <!-- <h2>Sản Phẩm Mới Bộ Sưu Tập</h2>
                <a href="#">MUA NGAY</a> -->
            </section>

            <!-- Featured Products Section -->
            <section class="featured-products">
                <h3>Mới</h3>
                <div class="product-list">
                    <div class="product-item">
                        <img src="../static/img/palit rtx.jpg" alt="NVIDIA RTX 2080">
                        <p>NVIDIA RTX 2080</p>
                        <p class="price">1606.5 Dhs</p>
                    </div>
                    <div class="product-item">
                        <img src="../static/img/zotac.jpg" alt="Nvidia ZOTAC">
                        <p>Nvidia ZOTAC</p>
                        <p class="price">1771 Dhs</p>
                    </div>
                    <div class="product-item">
                        <img src="../static/img/GTX ventus.jpg" alt="MSI GTX 2060">
                        <p>Carte Graphique MSI GTX 2060</p>
                        <p class="price">821.75 Dhs</p>
                    </div>
                </div>
            </section>
        </main>
    </div>

    <!-- Footer -->
    {% include 'footer.html' %}
</body>
</html>
