<aside class="sidebar">
    <ul>
        <li><a href="{{ url_for('product_catalog.product_catalog_route', category='Linh kiện') }}">Linh Kiện</a></li>
        <li><a href="{{ url_for('product_catalog.product_catalog_route', category='Thiết Bị Ngoại Vi') }}">Thiết Bị Ngoại Vi</a></li>
        <li><a href="{{ url_for('product_catalog.product_catalog_route', category='Gaming PC') }}">Gaming PC</a></li>
        <li><a href="{{ url_for('product_catalog.product_catalog_route', category='Laptop') }}">Laptop</a></li>
    </ul>
</aside>
